<h1>Welcome to Dad's New Course</h1>
<p>This is a virtual classroom where you can explore concepts you will apply in class.</p>
<h3>If your a student take a look.</h3>

<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</p>
