<h1 class="page-header">Probability Tree - 2 Coins</h1> 

<iframe width="560" height="315" src="//www.youtube.com/embed/4vSbGpAF4Ts" frameborder="0" allowfullscreen></iframe>

<h2>Key Points</h2>
<div class="well">
	<ol>
		<li>Nemo enim ipsam voluptatem</li>
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Nemo enim ipsam voluptatem quia </li>
	</ol>
</div>

<h2>Lecture Notes</h2>
<div class="well">
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
</div>
<h2>Exercises</h2>
<div class="well">
	<ol>
		<li>Nemo enim ipsam voluptatem</li>
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Nemo enim ipsam voluptatem quia </li>
	</ol>
</div>