<h1 class="page-header">Lessons</h1>

 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>1</h1>
          <h3>Lesson 1</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>2</h1>
          <h3>Lesson 2</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>3</h1>
          <h3>Lesson 3</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>4</h1>
          <h3>Lesson 4</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>5</h1>
          <h3>Lesson 5</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>6</h1>
          <h3>Lesson 6</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>7</h1>
          <h3>Lesson 7</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>8</h1>
          <h3>Lesson 8</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>9</h1>
          <h3>Lesson 9</h3>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->