<h1 class="page-header">Lessons</h1>

 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>1</h1>
          <h4><%= link_to 'Probability Tree - 2 Coins', less1_path %></h4>

          <p>Calculating the probability of at least two Heads in two flips of an unbiased coin.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>2</h1>
          <h4><%= link_to 'Summing the first N Integers', less2_path %></h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>3</h1>
          <h4>Lesson 3</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>4</h1>
          <h4>Lesson 4</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>5</h1>
          <h4>Lesson 5</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>6</h1>
          <h4>Lesson 6</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
 <div class="container row-fluid">
        <div class="lesson span4 text-center">
          <h1>7</h1>
          <h4>Lesson 7</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
          <h1>8</h1>
          <h4>Lesson 8</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="lesson span4 text-center">
         <h1>9</h1>
          <h4>Lesson 9</h4>
          <p>Here you can write a quick desription of the lesson and what the student is expected to learn.</p>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->