$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

@import 'bootstrap-responsive';

body {
	margin-top: 50px;
}


.lesson {
	margin-bottom: 30px;
	border: solid 1px white;
	background-color: #eee;
	padding: 10px;
}

